APP_SECRET=REEMPLAZAR_CON_SECRETO_GENERADO
SCIM_TOKEN=REEMPLAZAR_CON_OTRO_SECRETO_GENERADO
APP_BASE_URL=https://REEMPLAZAR.trycloudflare.com
OIDC_CLIENT_ID=REEMPLAZAR_CLIENT_ID
OIDC_CLIENT_SECRET=REEMPLAZAR_CLIENT_SECRET
OIDC_METADATA_URL=https://REEMPLAZAR.onelogin.com/oidc/2/.well-known/openid-configuration
APP_DB=data/lab.sqlite
